.features {
    display: flex;
    // list-style: none;
    font-size: 16px;
}

.features__item {
    max-width: 166px;
    margin-right: 30px;
    display: flex;
    align-items: flex-start;
}

.features__item:last-child {
    margin-right: 0;
}

.feature__icon {
    margin-right: 12px;
}