.hero {
    background: #F5F5F5;
    height: 100vh;
    min-height: 650px;
}

// .phone-number::before {
//     content: url("../../img/phone.png");
// }

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

// .hero__title-section {
//     margin-top: -100px;
// }

.hero__main-title {
    font-size: 48px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Play';
    max-width: 400px;
}

.hero__title-desc {
    max-width:322px;
    font-size: 21px;
    margin-bottom: 54px;
}

.hero__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero::after {
    content: url("../img/rectangle.svg");
    position:absolute;
    right: 10%;
    bottom:-3%;
}