.section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 650px;
}

.headline {
    font-family: $fontFamilyPlay;
}

.section__title {
    font-size:48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}